<nz-layout>
  <nz-header>
    <div class="title" nz-flex nzJustify="space-between" nzAlign="center" nzGap="middle">
      <div class="name" nz-flex nzAlign="center" nzGap="middle">
        <nz-avatar [nzSize]="48" nzIcon="user"></nz-avatar>
        <h1 nz-typography class="kuaile_text" style="color: #E9EFEC;">汤饭大人</h1>
      </div>
      <ul class="nav" nz-flex nzjustify="center" nzAlign="start" nzGap="large">
        <li><a href="#" [routerLink]="['/home']">首页</a></li>
        <li><a href="#" [routerLink]="['/work']">作品</a></li>
        <li><a href="#" [routerLink]="['/contact']">联系我</a></li>
      </ul>
    </div>
  </nz-header>
  <!-- <nz-divider style="padding: 0 !important; margin: 1vh !important;"></nz-divider> -->
  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>
  <!-- <nz-footer>Footer</nz-footer> -->
</nz-layout>