.main {
    width: 100%;
    padding: 3vh 0 3vh 0;
    background-color: white;
    height: auto;
    overflow: hidden;
    text-align: start;
}

.text {
    width: 100%;
    padding: 5vh 0 3vh 0;
    background-color: white;
    height: 10vh;
}

.logo {
    /* width: 100%; */
    height: 100%;
    object-fit: contain;
    text-align: start;
    /* max-height: 100%; */
}

[nz-carousel-content] {
    text-align: center;
    height: 72vh;
    /* line-height: 160px; */
    background: #fff;
    color: #fff;
    overflow: hidden;
    border: 1px solid #E9EFEC;
}



h3 {
    color: #fff;
    margin-bottom: 0;
    user-select: none;
}

.home-img {
    text-align: center;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.nz-carousel-content img {
    padding: 25px;
}

a {
    text-decoration: none;
    color: inherit;
}

.cta-box {
    height: 8vh;
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

.cta {
    position: relative;
    margin: auto;
    padding: 19px 22px;
    transition: all .2s ease;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba(106, 156, 137, 0.5);
    /* rgba($primary, .5) */
    width: 56px;
    height: 56px;
    transition: all .3s ease;
}

.cta span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: .25em;
    text-transform: uppercase;
    vertical-align: middle;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #111;
    /* $color */
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all .3s ease;
}

.cta:hover:before {
    width: 100%;
    background: rgba(106, 156, 137, 1);
    /* rgba($primary, 1) */
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(.96);
}