/* You can add global styles to this file, and also import other style files */
/* @import "~ng-zorro-antd/ng-zorro-antd.min.css"; */

h1.ant-typography {
    margin: 0 !important;
}

.kuaile_text {
    font-family: "ZCOOL KuaiLe", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(36, 36, 36)
}

nz-content::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}