/* Reset */
/* @import url(//codepen.io/chrisdothtml/pen/ojLzJK.css); */

/* Variables */
/* $anim-speed: 0.3s; */

/* Main styles */
.img {
    width: 100%;
    text-align: center;
}

.tiles {
    width: 100%;
    font-size: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tile {
    display: inline-block;
    /* margin: 2vw; */
    text-align: left;
    opacity: .99;
    margin: 2.5vw;
    overflow: hidden;
    position: relative;
    border-radius: 3px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .05);
}

.tile::before {
    content: '';
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    width: 100%;
    height: 50%;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    transition-property: top, opacity;
    transition-duration: 0.3s;
}

.tile img {
    width: 15vw;
    height: 15vw;
    display: block;
    /* max-width: 100%; */
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    object-fit: cover;
}

.details {
    font-size: 16px;
    padding: 20px;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
}

.details span {
    display: block;
    opacity: 0;
    position: relative;
    top: 100px;
    transition-property: top, opacity;
    transition-duration: 0.3s;
}

.title {
    line-height: 1;
    font-weight: 600;
    font-size: 18px;
}

.info {
    line-height: 1.2;
    margin-top: 5px;
    font-size: 12px;
}

.tile:hover::before,
.tile:focus::before {
    opacity: 1;
    top: 50%;
}

.tile:hover span,
.tile:focus span {
    opacity: 1;
    top: 0;
}

.tile:hover .title,
.tile:focus .title {
    transition-delay: 0.15s;
}

.tile:hover .info,
.tile:focus .info {
    transition-delay: 0.25s;
}