<div class="img" nz-flex nzWrap="wrap" nzJustify="center" nzAlign="center" nzGap="large">
  <nz-image-group>
    <ng-container *ngFor="let item of imgData; let i = index">
      <a class="tile" [@fadeInUp]="{ value: '', params: { timing: 200 + i * 100 } }">
        <img nz-image [nzSrc]="item.url">
        <div class="details">
          <span class="title">{{ item.title }}</span>
          <span class="info">{{ item.info }}</span>
        </div>
      </a>

    </ng-container>
  </nz-image-group>
</div>